<%# coding: UTF-8 -%>

<div class="login-form">
  <div class="form-title"><%= t.label.forgot_password %></div>
  <form method="post" action="<%= @form_action || "forgot_pwd" %>">
    <div class="form-text">We will send you an email with a link to reset your password</div>

    <div class="form-inputs-block">
      <div class="form-input-line"><input class="form-input" type="email" name="username" placeholder="Email (<%= t.label.login %>)"/></div>
    </div>

    <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>"/>
    <input type="hidden" id="service" name="service" value="<%= escape_html @service %>"/>

    <div class="form-button-block"><button type="submit" class="form-button button-secondary-style"><%= t.button.reset_password %></button></div>
  </form>
  <div class="login-reg-link-block">Or go back to <a href="/cas"><%= t.label.login %></a></div>
</div>