<%# coding: UTF-8 -%>
 <form method="post" action="<%= @form_action || "login" %>" id="login-form">
 <div class="form-title"><%= t.label.login %></div>

 <div class="form-text"><%= t.notice.use_navionics%></div>

 <div class="form-inputs-block">
   <div class="form-input-line"><input class="form-input" type="text" name="username" placeholder="<%= t.label.login %>"/></div>
   <div class="form-input-line"><input class="form-input" type="password" name="password" placeholder="<%= t.label.password %>"/></div>
   <div class="login-forgot-password"><a href="<%= get_path %>/forgot_pwd"><%= t.label.forgot_password %>?</a></div>
 </div>

   <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>" />
   <input type="hidden" id="service" name="service" value="<%= escape_html @service %>" />

 <div class="form-button-block"><button type="submit" class="form-button button-secondary-style"><%= t.button.login %></button></div>
 </form>
