<%# coding: UTF-8 -%>
 <form method="post" action="<%= @form_action || "login" %>" id="login-form">
   <div class="jnc-cas-title"><%= t.label.login %></div>
   <div class="jnc-cas-field">
     <div class="jnc-cas-field-title"><%= t.label.login %></div>
     <input id="username" name="username" type="email" class="jnc-form-control jnc-cas-field-input">
   </div>
   <div class="jnc-cas-field">
     <div class="jnc-cas-field-title"><%= t.label.password %></div>
     <input id="password" name="password" type="password" class="jnc-form-control jnc-cas-field-input">
     <div class="jnc-cas-field-link jnc-cas-field-link-small jnc-text-right">
       <a href="<%= get_forgot_pwd_path @service %>" class="jnc-link"><%= t.label.forgot_password %></a>
     </div>
   </div>
   <div class="jnc-cas-footer">
     <div class="jnc-grid jnc-grid-row">
       <div class="jnc-grid-col jnc-grid-col-6">
         <a href="/cas/signup" class="jnc-simple-btn jnc-simple-btn-light-blue jnc-cas-btn"><%= t.label.create_account %></a>
       </div>
       <div class="jnc-grid-col jnc-grid-col-6">
         <a href="#" onclick="document.forms[0].submit();return false;" class="jnc-simple-btn jnc-simple-btn-light-blue jnc-cas-btn"><%= t.button.login %></a>
       </div>
     </div>
   </div>
   <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>" />
   <input type="hidden" id="service" name="service" value="<%= escape_html @service %>" />
   <div class="jnc-cas-field">
     <div class="jnc-cas-field-link jnc-cas-field-link-small jnc-text-center"></div>
   </div>
 </form>
