<%# coding: UTF-8 -%>

<form method="post" action="<%= @form_action || "signup" %>" id="signup-form">
  <div class="jnc-cas-title"><%= t.label.create_an_account %></div>

  <div class="jnc-cas-field">
    <div class="jnc-cas-field-title"><%= t.placeholder.email %></div>
      <input id="username" type="email" class="jnc-form-control jnc-cas-field-input" value="<%=escape_html @username %>">
  </div>
  <div class="jnc-cas-field">
    <div class="jnc-cas-field-title"><%= t.placeholder.nickname %></div>
      <input id="nickname" type="text" class="jnc-form-control jnc-cas-field-input" value="<%=escape_html @nickname %>">
  </div>
  <div class="jnc-cas-field">
    <div class="jnc-cas-field-title"><%= t.placeholder.password %></div>
      <input id="password" type="password" class="jnc-form-control jnc-cas-field-input" value="<%=escape_html @password %>">
    <div class="reg-hide-pass">
      <label><input type="checkbox" onclick="showPassword();"/> <%= t.label.show_password %></label>
    </div>
  </div>
  <div class="jnc-cas-field">
    <div class="jnc-cas-field-link jnc-cas-field-link-small jnc-text-center"><a href="<%= privacy_policy_link%>" class="jnc-link"><%= t.label.privacy_policy %></a></div>
  </div>

  <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>"/>
  <input type="hidden" id="service" name="service" value="<%= escape_html @service %>"/>

  <div class="jnc-cas-footer">
    <div class="jnc-grid jnc-grid-row">
      <div class="jnc-grid-col jnc-grid-col-6">
        <a href="#"  onclick="document.forms[0].submit();return false;" class="jnc-simple-btn jnc-simple-btn-light-blue jnc-cas-btn"><%= t.label.create_account%></a>
      </div>
    </div>
  </div>
  <div class="login-reg-link-block"><%= t.email.forgot_pwd_cancel%> <a href="<%= get_path %>"><%= t.label.login %></a></div>
</form>
<script>
    function showPassword() {
        var pwd = document.getElementById("password");
        if (pwd.type == "password")
            pwd.setAttribute('type', 'text');
        else
            pwd.setAttribute('type', 'password');
    }
</script>

