<%# coding: UTF-8 -%>

<form method="post" action="<%= @form_action || "signup" %>" id="signup-form">
  <div class="form-title">Create an account</div>

  <div class="form-inputs-block">
    <div class="form-input-line"><input class="form-input" type="email" name="username" placeholder="Email (username)" value="<%=escape_html @username %>"/>
    </div>
    <div class="form-input-line"><input class="form-input" type="email" name="username2" placeholder="Confirm Email" value="<%=escape_html @username2 %>"/>
    </div>
    <div class="form-input-line"><input class="form-input" type="text" name="nickname" placeholder="Nickname" value="<%=escape_html @nickname %>"/></div>
    <div class="form-input-line">
      <input class="form-input" type="password" id="password" name="password" placeholder="Password" value="<%=escape_html @password %>"/></div>
    <div class="reg-hide-pass">
      <label><input type="checkbox" onclick="showPassword();"/> <%= t.label.show_password %></label></div>
  </div>

  <div class="reg-agree">By clicking Create Account you agree to our <span id="privacy_policy">Privacy Policy</span></div>

  <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>"/>
  <input type="hidden" id="service" name="service" value="<%= escape_html @service %>"/>

  <div class="form-button-block">
    <button type="submit" class="form-button button-secondary-style">Create Account</button>
  </div>
</form>
<script>
    function showPassword() {
        var pwd = document.getElementById("password");
        if (pwd.type == "password")
            pwd.setAttribute('type', 'text');
        else
            pwd.setAttribute('type', 'password');
    }
</script>

