    <div class="login-form">
        <div class="profile-info clearfix">
        </div>
        <div class="form-button-block">
            <button type="submit" class="form-button button-secondary-style">
                <span id="account"><a href="<%= get_account_url %>"><%= t.label.account%></a></span>
            </button>
        </div>

        <div class="login-reg-link-block"><%= t.notice.want_logout%> <a href="<%= get_path %>/logout"><%= t.label.logout%></a></div>
    </div>
