<% if @message %>
<div class="messagebox <%= escape_html @message[:type] %>">
    <%= escape_html @message[:message] %>
</div>
<% end %>
<div id="login-main-content">
</div>
<div class="login-form">
    <%= erb(:_login_form, :layout => false) %>
    <div class="login-reg-link-block"><%= t.notice.want_login%><br><a href="<%= get_path %>/signup"><%= t.label.create_account%></a></div>
</div>