<% if @message %>
<div class="messagebox <%= escape_html @message[:type] %>">
    <%= escape_html @message[:message] %>
</div>
<% end %>
<div class="login-form">
    <form method="post" action="<%= @form_action || "passwords" %>" id="reset-pwd-form">
        <div class="form-title"><%= t.label.new_password %></div>

        <div class="form-inputs-block">
            <div class="form-input-line"><input class="form-input" type="password" name="password" placeholder="<%= t.placeholder.new_password %>"/></div>
            <div class="reg-hide-pass"><label><input type="checkbox" onclick="showPassword('txtPassword','Password');"/> <%= t.label.hide_password %></label></div>
        </div>

        <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>"/>
        <input type="hidden" id="service" name="service" value="<%= escape_html @service %>"/>

        <div class="form-button-block"><button type="submit" class="form-button button-secondary-style"><%= t.button.login %></button></div>
    </form>
</div>