<% if @message %>
  <div class="messagebox <%= escape_html @message[:type] %>">
    <%= escape_html @message[:message] %>
  </div>
    <div class="jnc-cas-title"><%= t.label.reset_sent %></div>
    <div class="jnc-cas-descr"><%= t.notice.instructions_sent %></div>
    <div class="jnc-cas-field">
      <form method="get" action="<%= get_path %>" id="reset-pwd-form">
        <button type="submit" class="form-button button-secondary-style" id="sent-close"><%= t.button.close %></button>
      </form>
    </div>
<% else %>
    <form method="post" action="<%= @form_action || "passwords" %>" id="reset-pwd-form">
      <div class="jnc-cas-field">
        <div class="jnc-cas-field-title"><%= t.label.new_password %></div>
          <input id="password" name="password" type="password" class="jnc-form-control jnc-cas-field-input">
          <div class="reg-hide-pass"><label><input type="checkbox" onclick="showPassword('txtPassword','Password');"/> <%= t.label.show_password %></label></div>
      </div>
      <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>"/>
      <input type="hidden" id="service" name="service" value="<%= escape_html @service %>"/>
      <div class="jnc-grid-col jnc-grid-col-12">
        <a href="#" onclick="document.forms[0].submit();return false;" class="jnc-simple-btn jnc-simple-btn-light-blue jnc-cas-btn"><%= t.button.reset_password %></a>
      </div>
    </form>
<% end %>
<script>
    function showPassword() {
        var pwd = document.getElementById("password");
        if (pwd.type == "password")
            pwd.setAttribute('type', 'text');
        else
            pwd.setAttribute('type', 'password');
    }
</script>