 <div class="login-box-wrapper">
<%# coding: UTF-8 -%>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
<form method="post" action="<%= @form_action || "login" %>" id="login-form"
      onsubmit="submitbutton = document.getElementById('login-submit'); submitbutton.value='<%= t.notice.please_wait %>'; submitbutton.disabled=true; return true;">
 
      <div id="username-container">
        <input type="text" id="username" name="username"
               size="64" tabindex="1" accesskey="u" />
      </div>
 
      <div id="password-container">
        <input type="password" id="password" name="password"
               size="64" tabindex="2" accesskey="p" autocomplete="off" />
</div>

 
      <div id="submit-container">
        <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>" />
        <input type="hidden" id="service" name="service" value="<%= escape_html @service %>" />
        <input type="submit" class="btn-green" accesskey="l" value="<%= t.button.login %>"
               tabindex="4" id="login-submit" />
</div>
</form>
</div>